<app-navbar></app-navbar>

<main class="min-h-screen overflow-hidden">

    <app-hero></app-hero>

    <app-about></app-about>

    <app-services></app-services>

    <app-process-section></app-process-section>
    
    <app-marquee-ticker></app-marquee-ticker>

    <app-differentiator-section></app-differentiator-section>

    <!-- Can be updated/uncommented when we have better statistics to show on the homepage. Currently, the stats are not very impressive and may not add value to the homepage. -->
    <!-- <app-stats></app-stats> -->

    <!-- <app-testimonials></app-testimonials> -->

    <app-contact></app-contact>

</main>

<app-footer></app-footer>