:host {
  display: block;
}

.marquee-track {
  animation: marquee 30s linear infinite;
}

:host:hover .marquee-track {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}